body {
  font: 14px sans-serif;
  color: #444;
  margin: 0;
  background-color: #FFF;
  background-image: url('../images/background.png'); 
  background-repeat: repeat-x;
}


a, a:link {
  text-decoration: none;
  color: #444;
}

a:hover {
  color: #82251d;
}

p a {
  text-decoration: none;
  color: #82251d;
}

p a:hover {
  border-bottom: 1px dashed #82251d;
}

header, nav, footer, figure, section {
    display: block;
}

header {
  margin: 0 0 0 50px;
}

section {
  margin: 0 0 0 65px;
  padding: 0;
}

footer {
  margin: 0;
  width: 100%;
  height: 50px;
  position: fixed;
  clear: both;
  z-index: 10;
  bottom: 0px;
  background-color: #333;
  border-top: 7px solid #82251d;
}

[role=banner] h1 {
  font-family: sans-serif;
  margin: 50px 0 0 0;
  font-size: 32px;
}

[role=banner] h1 a:hover {
  color: #444;
}


[role=banner] h2 {
  font-family: sans-serif;
  margin:  0 0 23px 5px;
  font-size: 16px;
}

h3 {
  font-size: 20px;
  margin: 0 0 5px 0;
}

h3.narrow {
  color: #82251d;
}

span.important {
  color: #82251d;
}

#presentation {
  display: none;
  margin: 0;
  padding: 0;
  width: 60%;
  text-align: justify;
}

#github {
  display: none;
}