body {
  font: 13px Tahoma, "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 50px;
  background-image: url('/images/background.png'); 
  background-repeat: repeat-x;
}

a, a:link {
  text-decoration: none;
  color: #82251d;
}

a:hover {
    -moz-transform: rotate(8deg); 
    -webkit-transform: rotate(8deg);
}

#content figure {
    -moz-box-shadow: 1px 1px 13px #444; 
    -webkit-box-shadow: 1px 1px 13px #444; 
    box-shadow: 1px 1px 13px #444;
}

img {
    margin: 20px;
}

img:hover {
    -moz-transform: rotate(8deg); 
    -webkit-transform: rotate(8deg);
}

figcaption {
    float: right;
}

header, nav, footer, figure, section {
    display: block;
}

[role=banner] h1 {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  margin-top: 50px;
  font-size: 2.5em;
}

[role=banner] span.firstname {
  color: #444;
}

[role=navigation] ul {
    font-size: 2em;
    padding: 0;
    margin: 0 0 0 0.5em;
    text-transform: lowercase;
    line-height: 1.15em;
}

[role=navigation] li {
    color: #999;
    list-style-type:none;
}

[role=navigation] li a {
  color: #999;
}

[role=navigation] li a.here, li a:hover {
  color: #82251d;
}

[role=navigation] li:before {
  content: '> ';
}

#content figure {
  -moz-box-shadow: 1px 1px 13px #999; 
  -webkit-box-shadow: 1px 1px 13px #999; 
  box-shadow: 1px 1px 13px #999;
}

